/* Шрифти */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


/* Настройки цветов */

:root {
  --basic-white: #ffffff;
  --basic-white-rgb: 255, 255, 255;
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-black-l: #231f20;
  --basic-black-light: #283136;
  --basic-grey-dark: #444444;
  --basic-grey-dark-rgb: 68, 68, 68;
  --basic-grey--dark-l: #4d4d4d;
  --basic-grey: #666666;
  --basic-grey-ld: #c1c1c1;
  --basic-grey-light-l: #dbdbdb;
  --basic-grey-light: #e1e1e1;
  --basic-grey-extra-light: #eeeeee;
  --basic-grey-modal: #d7dcde;
  --special-grey-active: #a6a6a6;
  --special-grey-hover: #dfdfdf;
  --special-grey-hover-modal: #b4b9bb;
  --special-grey-active-catalog: #d5d5d5;
  --special-grey-active-range: #ababab;
  --basic-red: #fb565a;
  --special-red-hover: #e74246;
  --special-red-active: #d7373b;
  --basic-green: #00ca74;
  --special-green-hover: #00bc6c;
  --special-green-active: #00aa62;
  --basic-yellow: #efc849;
  --special-yellow-hover: #eab534;
  --special-yellow-active: #e5a722;
}

.page {
  height: 100%;
}
.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Тело сайта */


/* ШАПКА */

.main-header {
  background-color: var(--basic-grey-extra-light);
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr 115px;
  column-gap: 40px;
  line-height: 30px;
}

.header-logo {
  margin-top: 49px;
  margin-bottom: 5px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  margin-left: 163px;
  padding-top: 66px;
  padding-bottom: 5px;
}

.site-navigation-item {
  padding: 9px 45px 9px 0;
  }

.user-navigation {
  justify-self: end;
  padding-left: 40px;
  margin-top: 75px;
  margin-bottom: 29px;
  }

/* Главная */

/* Слайдери */





/* Важная инфо (Features)*/

.features_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.features_items {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.features_items h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  order: 2;
}

.features_items img {
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.features_items p {
  line-height: 24px;
  color: var(--basic-black-light);
  margin: 0;
  margin-bottom: 32px;
  order: 3;
}


/*Главная - Информация о студии */

.other_information {
  margin-bottom: 49px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 40px;
}

.informations1 {
  padding-top: 75px;
}

.informations1-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 33px;
}

.informations1-text {
  margin: 0;
  margin-bottom: 41px;
  line-height: 24px;
  color: var(--basic-black-light);
}

.description-orders h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  color: var(--basic-black-light);
  margin-bottom: 23px;
}

/*Преимущества студии*/

.informations2 {
  padding-top: 75px
}

.informations2 h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.informations2-list {
  display: flex;
  flex-wrap: wrap;
}

.informations2-item {
  margin-right: 22px;
  width: 98px;
}

.informations2-text {
  margin: 0;
  line-height: 18px;
  color: var(--basic-black-light);
}

/*Партнеры*/

.partners {
  margin-bottom: 84px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.partners-item {
  width: 260px;
  height: 100%;
  min-height: 180px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



/* Футер*/

/*Футер Как нас найти*/

.wrap-map {
  height: 416px;
  position: relative;
}

.contacts-map {
  height: 416px;
  width: 100%;
  position: absolute;
}

.contacts-map iframe {
  height: 416px;
  width: 100%;
  border: none;
}

.contacts-inner {
  min-height: 416px;
  position: absolute;
  left: 0;
  right: 0;
}

.contacts-adress {
  width: 319px;
  box-sizing: border-box;
  padding: 48px 50px;
  background-color: var(--basic-white);
  position: absolute;
  top: 54px;
  left: 20px;
  box-shadow: 0 1px 1px rgba(var(--basic-black-rgb), 0.1);
}

.adress-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.adress-text,
.tel-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  margin: 0;
  margin-bottom: 18px;
}

.tel-text {
  margin-bottom: 38px;
}

.footer-phone {
  color: var(--basic-grey);
}

/*Футер - соціальні сторінки */


.social {
  padding-top: 68px;
  padding-bottom: 58px;
}

.wrap-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 40px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list li {
  width: 81px;
  padding-bottom: 10px;
}

.btn-social {
  background-color: var(--basic-grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  box-sizing: border-box;
  border-radius: 50%;
}

.btn-social:hover {
  background-color: var(--special-red-hover);
}

.btn-social:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(var(--basic-black-rgb), 0.1);
}

.btn-social:active img {
  opacity: 0.3;
}

.btn-vk img {
  width: 27px;
  height: 15px;
}

.btn-fb img {
  width: 12px;
  height: 22px;
}

.btn-insta img {
  width: 21px;
  height: 21px;
}

.social-inner {
  padding-top: 7px;
  padding-left: 100px;
}

.social-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.social-text {
  line-height: 22px;
  color: var(--basic-grey-dark);
  margin: 0;
}