:root {
  --color-bg-main: #eee;
  --special-grey-active: #a6a6a6;
  --basic-white: #ffffff;
  --basic-grey-dark: #444444;
  --basic-grey-light: #e1e1e1;
  --special-red-hover: #e74246;
  --special-red-active: #d7373b;
  --basic-black-rgb: 0, 0, 0;
  --basic-grey: #666666;
  --basic-black-rgb: 0, 0, 0;
  --basic-red: #fb565a;
  --special-red-hover: #e74246;
  --special-red-active: #d7373b;

}

/* Global */

.container {
  max-width: 1150px;
}

.bg-color-main {
  background-color: var(--color-bg-main);
}

ul, li {
  text-decoration: none !important;
  list-style-type: none;
}

.hrDevided {
  border: solid 2px var(--color-bg-main);
}

/* Mapcontact */

.ratio::before {
  display: none;
}

.container-writeus {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts-inner {
  position: absolute;
  left: 0;
  right: 0;
}

.contacts-adress {
  width: 319px;
  box-sizing: border-box;
  padding: 48px 50px;
  background-color: var(--basic-white);
  position: absolute;
  top: -350px;
  left: 20px;
  box-shadow: 0 1px 1px rgba(var(--basic-black-rgb), 0.1);
}

.adress-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.adress-text,
.tel-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  margin: 0;
  margin-bottom: 18px;
}

.tel-text {
  margin-bottom: 38px;
}

.footer-phone {
  color: var(--basic-grey);
}

/* Modal window */

.modal-content-user {
  border: none;
  border-radius: var(none);
  outline: none;
}

/*Футер - соціальні сторінки */

  .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .social-list li {
    width: 81px;
    padding-bottom: 10px;
  }
  
  .btn-social {
    background-color: var(--basic-grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .btn-social:hover {
    background-color: var(--special-red-hover);
  }
  
  .btn-social:active {
    background-color: var(--special-red-active);
    box-shadow: inset 0px 3px 0px rgba(var(--basic-black-rgb), 0.1);
  }
  
  .btn-social:active img {
    opacity: 0.3;
  }
  
  .btn-vk img {
    width: 27px;
    height: 15px;
  }
  
  .btn-fb img {
    width: 12px;
    height: 22px;
  }
  
  .btn-insta img {
    width: 21px;
    height: 21px;
  }
  
  .social-inner {
    padding-top: 7px;
    padding-left: 100px;
  }
  
  .social-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .social-text {
    line-height: 22px;
    color: var(--basic-grey-dark);
    margin: 0;
  }