:root {
  --color-bg-main: #eee;
  --special-grey-active: #a6a6a6;
  --basic-white: #ffffff;
  --basic-grey-dark: #444444;
  --basic-grey-light: #e1e1e1;
  --special-red-hover: #e74246;
  --special-red-active: #d7373b;
  --basic-black-rgb: 0, 0, 0;
  --basic-grey: #666666;
  --basic-black-rgb: 0, 0, 0;
  --basic-red: #fb565a;
  --special-red-hover: #e74246;
  --special-red-active: #d7373b;

}

/* Global */

.container {
  max-width: 1150px;
}

.bg-color-main {
  background-color: var(--color-bg-main);
}

ul, li {
  text-decoration: none !important;
  list-style-type: none;
}

.hrDevided {
  border: solid 2px var(--color-bg-main);
}

/* Mapcontact */

.ratio::before {
  display: none;
}

.container-writeus {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts-inner {
  position: absolute;
  left: 0;
  right: 0;
}

.contacts-adress {
  width: 319px;
  box-sizing: border-box;
  padding: 48px 50px;
  background-color: var(--basic-white);
  position: absolute;
  top: -350px;
  left: 20px;
  box-shadow: 0 1px 1px rgba(var(--basic-black-rgb), 0.1);
}

.adress-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.adress-text,
.tel-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  margin: 0;
  margin-bottom: 18px;
}

.tel-text {
  margin-bottom: 38px;
}

.footer-phone {
  color: var(--basic-grey);
}

/* Modal window */

.modal-content-user {
  border: none;
  border-radius: var(none);
  outline: none;
}

/*Футер - соціальні сторінки */

  .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .social-list li {
    width: 81px;
    padding-bottom: 10px;
  }
  
  .btn-social {
    background-color: var(--basic-grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .btn-social:hover {
    background-color: var(--special-red-hover);
  }
  
  .btn-social:active {
    background-color: var(--special-red-active);
    box-shadow: inset 0px 3px 0px rgba(var(--basic-black-rgb), 0.1);
  }
  
  .btn-social:active img {
    opacity: 0.3;
  }
  
  .btn-vk img {
    width: 27px;
    height: 15px;
  }
  
  .btn-fb img {
    width: 12px;
    height: 22px;
  }
  
  .btn-insta img {
    width: 21px;
    height: 21px;
  }
  
  .social-inner {
    padding-top: 7px;
    padding-left: 100px;
  }
  
  .social-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .social-text {
    line-height: 22px;
    color: var(--basic-grey-dark);
    margin: 0;
  }


  /*КАТАЛОГ*/

/* Каталог - основная часть*/

/*Фильтры*/

.filteres-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/*Фильтр шаблонов Стоимость*/

.store__input-range {
  max-width: 80px;
  max-height: 38px;
  background-color: var(--color-bg-main);

}

.store__input-range:active {
  border: none;
}

.range-controls:nth-child(1) {
  margin-bottom: 14px;
  height: 80px;
  border-radius: 3px;
  background-color: var(--basic-grey-extra-light);
  padding: 39px 22px;
  box-sizing: border-box;
  position: relative;
}

.range-controls:nth-child(1) .scale {
  height: 2px;
  background-color: var(--basic-grey-modal);
}

.range-controls:nth-child(1) .bar {
  width: 69%;
  height: 2px;
  background-color: var(--basic-green);
  margin-left: 0;
}

.range-controls:nth-child(1) .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-grey-active-range);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(var(--basic-black-rgb), 0.15);
  cursor: pointer;
}

.range-controls:nth-child(1) .toggle-min {
  left: 7%;
}

.range-controls:nth-child(1) .toggle-max {
  left: 62%;
}

.range-controls:nth-child(2) {
  line-height: 22px;
  color: var(--basic-black-light);
  display: flex;
  justify-content: space-between;
}

.filter-cost-range:nth-child(2) label {
  width: 115px;
  display: flex;
  align-items: center;
}

.range-controls:nth-child(2) input {
  font: inherit;
  text-align: center;
  background-color: var(--basic-grey-extra-light);
  width: 80px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  margin-left: 11px;
}

/*Фильтр шаблонов Сетка-Особенности*/

.filter-grids legend,
.filter-features legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-grids-list {
  padding-bottom: 47px;
}

.filter-features-list {
  padding-bottom: 50px;
}

.filter-option {
  line-height: 19px;
  color: var(--basic-black-light);
}

.filter-radio:not(:last-child) {
  margin-bottom: 20px;
}

.filter-checkbox:not(:last-child) {
  margin-bottom: 21px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 36px;
}

.filter-input-radio:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-color: var(--basic-white);
  border: 4px solid var(--basic-grey--dark-l);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../../src/images/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 23px;
  height: 23px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey--dark-l);
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::after,
.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::after,
.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}

.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:focus + label::after,
.filter-input-radio:focus + label::after {
  border-color: var(--basic-black);
  outline: thin dotted;
  outline: 2px solid var(--basic-black);
  opacity: 1;
}

.btn-filter {
  background-color: var(--basic-grey-extra-light);
  color: var(--basic-black);
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  padding: 17px 89px 15px 88px;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-filter:hover {
  background-color: var(--special-grey-hover);
}

.btn-filter:active {
  background-color: var(--special-grey-active-catalog);
  color: rgba(var(--basic-black-rgb), 0.3);
  box-shadow: inset 0px 3px 0px rgba(var(--basic-black-rgb), 0.1);
  outline: none;
}

/*Каталог шаблонов Сортировать*/

.catalog-sort {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.catalog-sort h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  width: 360px;
}

.sort-inner {
  width: 360px;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sort-type-list {
  width: 273px;
  margin-right: 47px;
}

/* Виды сортировки: по цене, по названию... */

.sort-type-item {
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 22px;
}

.sort-type-item:not(.current-type-item) {
  cursor: pointer;
}

.sort-type-item:last-child {
  margin-right: 0;
}

.sort-type-item:not(.current-type-item):hover {
  opacity: 0.6;
}

.sort-type-item:not(.current-type-item):active,
.current-type-item {
  opacity: 1;
}

.sort-type-item:active {
  outline: none;
}

.sort-badge:focus svg {
  fill: var(--basic-black-l);
  fill-opacity: 1;
}

/*Значки-тругольники: по возрастанию, по убыванию */

.sort-badge {
  margin-right: 18px;
}

.sort-badge:not(.current-badge) {
  cursor: pointer;
}

.sort-badge:last-child {
  margin-right: 0;
}

.sort-badge svg {
  fill: var(--special-grey-active);
  fill-opacity: 0.2;
}

.sort-badge:not(.current-badge):hover svg {
  fill: var(--special-grey-active);
  fill-opacity: 1;
}

.sort-badge:not(.current-badge):active svg,
.current-badge svg {
  fill: var(--basic-black-l);
  fill-opacity: 1;
}

.sort-badge:active {
  outline: none;
}

.sort-type-item:focus {
  opacity: 1;
}

/*Каталог шаблонов Каталог*/

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.catalog-item {
  width: 360px;
  height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-slider {
  width: 360px;
  height: 40px;
  background-color: var(--basic-grey--dark-l);
  opacity: 0.12;
  padding: 13px 284px 13px 16px;
  box-sizing: border-box;
  border: 1px solid var(--basic-grey--dark-l);
  border-radius: 5px 5px 0 0;
}

/*Кружки на слайдере*/

.circle,
.circle::after,
.circle::before {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.circle {
  display: inline-block;
  position: relative;
  left: 22px;
  vertical-align: baseline;
}

.circle::after,
.circle::before {
  content: "";
  position: absolute;
}

.circle::after {
  left: 23px;
}

.circle::before {
  right: 23px;
}

/*------------------*/

.catalog-item:hover .catalog-slider {
  opacity: 1;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px rgba(var(--basic-black-rgb), 0.25);
}

.catalog-img {
  width: 358px;
  height: 578px;
  border: 1px solid rgba(var(--basic-black-rgb), 0.1);
  border-radius: 0 0 5px 5px;
}

.catalog-img img {
  width: 358px;
  height: 578px;
  border-radius: 0 0 5px 5px;
}

/*Карточка шаблонов*/

.catalog-item-description {
  width: 360px;
  min-height: 231px;
  padding: 26px 52px 44px 52px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: var(--basic-grey-extra-light);
  display: none;
  overflow: hidden;
}

.catalog-item:hover .catalog-item-description {
  display: block;
}

.catalog-item-description h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.catalog-item-description a:hover {
  color: var(--basic-red);
}

.catalog-item-description a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-description p {
  line-height: 18px;
  text-align: center;
  color: var(--basic-grey);
  margin: 0;
  margin-bottom: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-catalog-item {
  display: block;
  width: 200px;
  padding: 17px 72px 15px 72px;
  box-sizing: border-box;
  background-color: var(--basic-red);
  margin: 0 auto;
  cursor: pointer;
}

.btn-catalog-item:hover {
  background-color: var(--special-red-hover);
}

.btn-catalog-item:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(var(--basic-black-rgb), 0.1);
  outline: none;
}

/*Список страниц*/

.page-list {
  display: flex;
  flex-wrap: wrap;
}

.page-item {
  font-weight: 500;
  line-height: 18px;
  margin-right: 11px;
  margin-bottom: 10px;
}

.page-item:last-child {
  margin-right: 0;
}

.page-item a {
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-grey-extra-light);
}

.page-item:last-child a {
  width: 260px;
}

.current-page-item a {
  border: 3px solid var(--basic-grey-light-l);
  background-color: var(--basic-white);
}

.page-item:not(.current-page-item) a:hover {
  background-color: var(--special-grey-hover);
}

.page-item:not(.current-page-item) a:active {
  background-color: var(--special-grey-active-catalog);
  color: rgba(var(--basic-black-rgb), 0.3);
  box-shadow: inset 0px 3px 0px rgba(var(--basic-black-rgb), 0.1);
}
